{
  "openapi": "3.1.0",
  "info": {
    "title": "LumenLoop API",
    "version": "1.0.0",
    "description": "REST access to the LumenLoop Stellar-ecosystem content platform. Every operation is a tool call: POST /tools/{name} with JSON arguments (base URL https://api.lumenloop.com/v1). The same tools are available over MCP at mcp.lumenloop.com. Authenticate with `Authorization: Bearer <llmcp_ API key or OAuth access token>`. Start at the base URL (index), /tools (catalog), /docs (guide)."
  },
  "servers": [
    {
      "url": "https://api.lumenloop.com/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "LumenLoop API key (starts with `llmcp_`). Tiers: guest < partner < read < write < manager < admin. Contact LumenLoop for a key."
      },
      "oauth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth access token from the LumenLoop authorization server. Discovery: /.well-known/oauth-protected-resource. New OAuth identities default to the guest tier."
      }
    }
  },
  "paths": {
    "/tools/find_av_passages": {
      "post": {
        "operationId": "find_av_passages",
        "tags": [
          "discovery"
        ],
        "summary": "Find specific passages inside long AV transcripts via per-chunk embedding similarity",
        "description": "Find specific passages inside long AV transcripts via per-chunk embedding similarity. Use this when you want to quote what was said, not just \"which video\". Returns the parent video metadata plus the matched chunk text and its start offset.\n\n**When to use:** Find WHERE in videos/podcasts/spaces a topic is discussed \u2014 returns AI summaries of the matching passages plus an opaque ordering offset (NOT a playback timestamp). Use when you need \"the part of the talk where they discuss X\".\n\n**Returns:** Array of AV items with AI summary, created_at (the recording's date \u2014 use it to judge and cite how recent the talk is), start_offset (an opaque transcript chunk offset for ordering passages within a recording \u2014 NOT playback seconds; do not render it as a timestamp or build a deep-link from it), and link. Transcript text itself is never returned \u2014 cite the link + the passage summary.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Topic or phrase to match against transcript passages"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 15,
                    "description": "Max passages to return"
                  },
                  "date_start": {
                    "type": "string"
                  },
                  "date_end": {
                    "type": "string"
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "query": "Soroban smart contract security",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {},
                          "description": "Array of AV items: AI summary, start_offset (opaque transcript chunk offset, not seconds), link."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/find_content_about_project": {
      "post": {
        "operationId": "find_content_about_project",
        "tags": [
          "discovery"
        ],
        "summary": "Find articles, AV content, events, and tweets that are semantically related to a project",
        "description": "Find articles, AV content, events, and tweets that are semantically related to a project. Uses embedding similarity to find cross-domain content that DISCUSSES the project. Supports optional date/source/type filters for scoped research.\n\n**When to use:** All published content related to ONE project, keyed BY SLUG (resolve a name to a slug with search_directory first). For an open-ended topic use search_content_semantic; for entity-name mentions (incl. tokens/orgs) where you only have a name use find_content_by_entity.\n\n**Returns:** Content grouped by type with AI summaries + source links + date, filtered to the project, recency-aware so recent coverage (incidents, launches) surfaces alongside canonical content. response_format 'concise' (external default) omits long_summary; pass 'detailed' to include it.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Project slug"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "description": "Max results per content type (default 20). Effective rows = limit \u00d7 number of types \u2014 keep it small and narrow `types` instead of raising it."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "concise",
                      "detailed"
                    ],
                    "default": "detailed",
                    "description": "'concise' omits long_summary from each row (smaller payloads); 'detailed' keeps it. Default: detailed."
                  },
                  "date_start": {
                    "type": "string",
                    "description": "ISO date/timestamp lower bound (inclusive). For articles, applies to COALESCE(publishing_date, created_at) by default to avoid stale re-scrape pollution."
                  },
                  "date_end": {
                    "type": "string",
                    "description": "ISO date/timestamp upper bound (inclusive)."
                  },
                  "date_field": {
                    "type": "string",
                    "enum": [
                      "publishing_date",
                      "created_at"
                    ],
                    "description": "For articles only: force a specific date field. Default is COALESCE(publishing_date, created_at)."
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter by source. For articles: domain. For AV: channel. For events: platform. For tweets: user_screen_name."
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "articles",
                        "av",
                        "events",
                        "research",
                        "proposals",
                        "tweets",
                        "twitter_accounts",
                        "scf_submissions",
                        "knowledge"
                      ]
                    },
                    "description": "Restrict to specific content types. Default: all 9 (knowledge = internal dated notes). Narrow this for smaller, faster results \u2014 fanning out across all types multiplies the row count."
                  }
                },
                "required": [
                  "slug"
                ],
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "slug": "aquarius",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "articles": {
                          "type": "array",
                          "items": {},
                          "description": "Related articles with AI summaries + source links."
                        },
                        "av": {
                          "type": "array",
                          "items": {},
                          "description": "Related video/audio."
                        },
                        "events": {
                          "type": "array",
                          "items": {},
                          "description": "Related events."
                        },
                        "research": {
                          "type": "array",
                          "items": {},
                          "description": "Related research."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/find_content_by_entity": {
      "post": {
        "operationId": "find_content_by_entity",
        "tags": [
          "discovery"
        ],
        "summary": "Find articles, AV, events, governance proposals, and SCF submissions that mention a specific named entity",
        "description": "Find articles, AV, events, governance proposals, and SCF submissions that mention a specific named entity. Uses LLM-extracted entities (project/person/organization/token) from content_entities. Case-insensitive match on entity_name or exact match on normalized_slug. Use this when you want exact entity grounding, not semantic similarity.\n\n**When to use:** Find content mentioning a NAMED entity (project, organization, token) by case-insensitive name match with LLM-confidence filtering \u2014 works even when the entity has no directory slug. If you have a slug, prefer find_content_about_project.\n\n**Returns:** Array of content items with the matched entity, confidence score, and content metadata.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "type": "string",
                    "description": "Entity name (case-insensitive) or normalized slug. Examples: \"Aquarius\", \"aquarius\", \"StellarOrg\"."
                  },
                  "entity_type": {
                    "type": "string",
                    "enum": [
                      "project",
                      "person",
                      "organization",
                      "token"
                    ],
                    "description": "Restrict to a specific entity type"
                  },
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "articles",
                      "av",
                      "events",
                      "proposals",
                      "scf_submissions"
                    ],
                    "description": "Restrict to a specific content type"
                  },
                  "date_start": {
                    "type": "string"
                  },
                  "date_end": {
                    "type": "string"
                  },
                  "min_confidence": {
                    "type": "number",
                    "default": 0.5,
                    "description": "Minimum LLM confidence to include (0.0-1.0). Default 0.5 filters out weak matches."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 30,
                    "description": "Max results per content type"
                  }
                },
                "required": [
                  "entity"
                ],
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "entity": "USDC",
                "entity_type": "token",
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {},
                          "description": "Array of content items with matched entity, confidence, metadata."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/find_similar_projects_semantic": {
      "post": {
        "operationId": "find_similar_projects_semantic",
        "tags": [
          "directory"
        ],
        "summary": "Find projects semantically similar to a given project using embedding cosine similarity",
        "description": "Find projects semantically similar to a given project using embedding cosine similarity. More accurate than tag/category matching.\n\n**When to use:** Find projects similar to a known project (by slug) via embedding similarity \u2014 better than tag/category matching. For keyword search use search_directory.\n\n**Returns:** Array of projects ranked by cosine similarity: slug, title, description, similarity score.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Project slug"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Max results"
                  }
                },
                "required": [
                  "slug"
                ],
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "slug": "aquarius",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {},
                          "description": "Array of similar projects: slug, title, description, similarity score."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/find_similar_scf_submissions": {
      "post": {
        "operationId": "find_similar_scf_submissions",
        "tags": [
          "scf"
        ],
        "summary": "Search SCF (Stellar Community Fund) submissions by embedding similarity",
        "description": "Search SCF (Stellar Community Fund) submissions by embedding similarity. Pass a natural-language query for topic/category discovery or an existing submission slug to find similar prior proposals. Returns title, description, category, round, award_type, the linked_project_slug (the primary directory project, if any), and linked_project_slugs (the full set of directory projects this submission credits).\n\n**When to use:** Explore SCF submissions by topic (natural-language query) or find proposals similar to an existing one (slug). Query and slug are mutually exclusive.\n\n**Returns:** Array of submissions ranked by similarity, with round/category/funding metadata, linked_project_slug (the primary credited directory project) and linked_project_slugs (the full set of credited directory projects).",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Natural-language query (e.g. \"ZK proofs for compliance\"). Mutually exclusive with `slug`."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Existing SCF submission slug (e.g. \"recsAQHCghw9HIUvF\") \u2014 returns semantically similar submissions. Mutually exclusive with `query`."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 15,
                    "description": "Max results"
                  },
                  "round": {
                    "type": "string",
                    "description": "Restrict to a specific SCF round (e.g. \"SCF #29\")"
                  },
                  "category": {
                    "type": "string",
                    "description": "Restrict to a specific category (e.g. \"Developer Tooling\")"
                  }
                },
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "query": "ZK proofs for compliance",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {},
                          "description": "Array of similar submissions with round/category/funding, linked_project_slug (primary credited project) and linked_project_slugs (full credited set)."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/get_categories": {
      "post": {
        "operationId": "get_categories",
        "tags": [
          "directory"
        ],
        "summary": "Get the controlled vocabulary of categories",
        "description": "Get the controlled vocabulary of categories. Use these exact values when setting project categories.\n\n**When to use:** Get the exact controlled vocabulary of project categories before filtering or labeling by category. Do not invent category strings.\n\n**Returns:** { count, categories: [...] } \u2014 each category: { id, name, slug }.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "description": "Number of categories."
                        },
                        "categories": {
                          "type": "array",
                          "items": {},
                          "description": "category objects ({ id, name, slug })"
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/get_document": {
      "post": {
        "operationId": "get_document",
        "tags": [
          "content"
        ],
        "summary": "Get full details of a single document by ID from any collection",
        "description": "Get full details of a single document by ID from any collection. The av collection accepts either \"videos\" or \"av\" \u2014 they map to the same table.\n\n**When to use:** Fetch one document by collection + numeric id, after a list/search tool gave you the id.\n\n**Returns:** One document. External callers get the summary projection (title, url, summary, long_summary, tags, dates) \u2014 full body text and transcripts are not exposed; cite the returned url instead.",
        "x-required-tier": "guest",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection": {
                    "type": "string",
                    "enum": [
                      "articles",
                      "events",
                      "videos",
                      "av",
                      "jobs",
                      "research",
                      "proposals"
                    ],
                    "description": "Content collection (videos and av both target the av table)"
                  },
                  "id": {
                    "type": "number",
                    "description": "Document ID"
                  }
                },
                "required": [
                  "collection",
                  "id"
                ],
                "additionalProperties": false,
                "$schema": "http://json-schema.org/draft-07/schema#"
              },
              "example": {
                "collection": "articles",
                "id": 4321
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Document id."
                        },
                        "title": {
                          "description": "Title."
                        },
                        "url": {
                          "description": "Source url \u2014 cite this."
                        },
                        "slug": {
                          "description": "LumenLoop slug."
                        },
                        "summary": {
                          "description": "AI summary."
                        },
                        "long_summary": {
                          "description": "Longer AI summary."
                        },
                        "tags": {
                          "description": "Content tags (array)."
                        },
                        "status": {
                          "description": "Pipeline status."
                        },
                        "text": {
                          "description": "Present instead of the data fields when the tool reports a plain-text message."
                        }
                      },
                      "additionalProperties": false,
                      "$schema": "http://json-schema.org/draft-07/schema#"
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "tool": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "json",
                            "text",
                            "blocks"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Arguments failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Metered tool without a billing account / quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Credential tier below the tool's required tier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited \u2014 honor Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
                        "invalid_arguments",
                        "payment_required",
                        "rate_limited",
                        "tool_failed"
                      ]
                    },
                    "hint": {
                      "type": "string",
                      "description": "Actionable next step for the caller."
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "tool_failed \u2014 upstream/internal failure. Safe to retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown_tool",
                        "insufficient_scope",
[...]
